@font-face {
    font-family: 'MyFont';
    src: url("./fonts/fontawesome-webfont.woff2") format('woff2'), url("./fonts/fontawesome-webfont.woff") format('woff');
    font-weight: 600;;
    font-style: normal;
}

.header {
    font-family: 'MyFont';
    color: red;
}
img {
    width: 100%;
}
